<?xml version='1.0' encoding='utf-8'?>

<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-tts"
  version="0.2.3">
  <name>TTS</name>
  <description>Cordova Text-to-Speech Plugin</description>
  <author>VILIC VANE</author>
  <license>MIT</license>
  <keywords>cordova,tts,text-to-speech</keywords>
  <repo>https://github.com/vilic/cordova-plugin-tts.git</repo>
  <issue>https://github.com/vilic/cordova-plugin-tts/issues</issue>

  <js-module src="www/tts.js" name="tts">
    <clobbers target="TTS" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TTS">
        <param name="ios-package" value="CDVTTS"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVTTS.h" />
    <source-file src="src/ios/CDVTTS.m" />
  </platform>

  <!-- windows phone 8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="TTS">
        <param name="wp-package" value="TTS"/>
      </feature>
    </config-file>

    <config-file target="Properties/WMAppManifest.xml" parent="/*/App/Capabilities">
      <Capability Name="ID_CAP_SPEECH_RECOGNITION" />
    </config-file>
  
    <source-file src="src/wp/TTS.cs" />
  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="TTS">
        <param name="android-package" value="com.wordsbaking.cordova.tts.TTS" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/TTS.java" target-dir="src/com/wordsbaking/cordova/tts" />
  </platform>
</plugin>
